<html>
	<title>{{pageName}}</title> 
	<link rel="stylesheet" href="/public/css/common.css" /> 
	<link rel="stylesheet" href="/public/css/wikiContent.css" /> 
	<script src="/packages/requirejs/require.js"></script> 
	<script src="/packages/example/monitor.js"></script>
	<body>
		<div id="headerContainer"><span class="pageName">{{pageName}}<span></div> 
		<div id="content"> 
			<p>This page does not yet exist. Click below to create the page.</p>
		</div>
		<div id="action">
			<a href="/public/edit.html?page={{pageName}}">Create this page</a>
		</div>
	</body>
</html> 
